.caption {
  height: 200px;
  width: 250px;
  background: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 2px 10px #00000045;

  & h1 {
    font-size: 20px;
    color: #5f5f5f;
  }
}
